body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #777;
    background-color: #fff;
}

header {
    background-color: navy;
    color: rgb(120,250,12);
    text-align: center;
}

nav {
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 50px;
}

nav ul li {
    margin: 2px;
    padding: 2px;
    border: 1px solid #ccc;
    float: left;
}

nav ul li a {
    display: block;
    width: 100px;
    padding: 4px 0;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    color: #fff;
    background-color: #000;
    border-left: 10px solid #666;
}

nav ul li a:hover {
    color: #9c0;
    background-color: #036;
    border-left-color: #9c0;
}